<div class="ui large top fixed hidden menu">
      <div class="ui container">
        <a class="active item">Home</a><a class="item">Work</a><a class="item">Contacts</a> 
       
      </div>
    </div>
    
    <!--Page Contents-->
    <div class="pusher">
      <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui container">
          <div class="ui large secondary inverted pointing menu">
            <a class="toc item"><i class="sidebar icon"></i></a><a class="active item">Home</a><a class="item">Work</a><a class="item">Contacts</a> 
             
          </div>
        </div>
        <div class="ui text container">
          <h1 class="ui inverted header">
            Marian Ilco
          </h1>
          <h2>
            NEW YORK, NY
          </h2>
          
        </div>
      </div>
      <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
          <div class="row">
            <div class="eight wide column">
              <h3 class="ui header">
                Administrative Dashboard for a fictitious Soccer School
              </h3>
              <p>
               Create Students, Instructors, Cohorts and Courses. Add/Remove Instructors and Students to/from Courses. Add/Remove Cohorts to/from Courses.
              </p>
              <h3 class="ui header">
               Environment
              </h3>
              <p>
                Ruby on Rails SASS framework Bootstrap for cards and grid PostgreSQL/Active Record for relational DB design Devise for simple user authentication BCrypt password encryption deployed to Heroku
              </p>
            </div>
            <div class="six wide right floated column">
              <img class="ui large bordered rounded image" src="../../static/images/templates/semantic-ui/wireframe/white-image.png" />
            </div>
          </div>
          <div class="row">
            <div class="center aligned column">
              <a href="https://calm-falls-83557.herokuapp.com">
  <p class="ui huge button">Check Out</p>
  </a>
              
            </div>
          </div>
        </div>
      </div>
 

<div class="ui inverted vertical footer segment form-page">
  <div class="ui container">
    Contacts
  </div>
</div>